# =====================================
# tmux configuration file
# =====================================

# -------------------------------------
# general settings 
unbind C-b
set -g prefix C-a
bind-key -r C-a send-prefix

bind-key r source-file ~/.config/tmux/tmux.conf \; display-message "~/.config/tmux/tmux.conf reloaded"
set-option -g default-terminal "screen-256color"
set-option -g status-keys "vi"

# choose tree to select windows & panes
bind-key C-j choose-tree

# -------------------------------------
# vi mode settings
# v to be selection in copy mode 
bind-key -Tcopy-mode-vi 'v' send -X begin-selection
# copy to system clipboard with y and Enter 
bind-key -Tcopy-mode-vi 'y' send -X copy-pipe-and-cancel "xclip -i -sel c"
bind-key -Tcopy-mode-vi Enter send -X copy-pipe-and-cancel "xclip -i -sel c"

# -------------------------------------
# pane settings 
# bind-key -n M-Left select-pane -L
# bind-key -n M-Down select-pane -D
# bind-key -n M-Up select-pane -U
# bind-key -n M-Right select-pane -R
# vim-like movement as vim splits use ctrl-...
bind-key -n M-h select-pane -L
bind-key -n M-l select-pane -R
bind-key -n M-j select-pane -D
bind-key -n M-k select-pane -U
# resize panes in steps or cursers 
# without needing the prefix
# NOTE: S is shift
bind-key -r S-Left resize-pane -L 2
bind-key -r S-Right resize-pane -R 2
bind-key -r S-Down resize-pane -D 1
bind-key -r S-Up resize-pane -U 1
# resize pane in bigger steps 
# NOTE: C is ctrl
bind-key -r C-Left resize-pane -L 10
bind-key -r C-Right resize-pane -R 10
bind-key -r C-Down resize-pane -D 5
bind-key -r C-Up resize-pane -U 5
# break pane to new window
bind-key b break-pane -d

# -------------------------------------
# window settings
unbind %
unbind \"
# splits the window and starts the 
# shell at the current dir; not at ~
bind-key | split-window -h -c '#{pane_current_path}'
bind-key - split-window -v -c '#{pane_current_path}'
# new windo at the current path
bind-key c new-window -c '#{pane_current_path}'

# -------------------------------------
# [backup] status bar settings 
set-option -g status 'on'
set-option -g status-bg '#666666'
set-option -g status-fg '#aaaaaa'
set-option -g status-right " #(battery)  #(date '+%a, %b %d - %I:%M') "
set-option -g status-left-length 50  # use up to 50 char to display session

# -------------------------------------
# plugins managed by tpm
# List of plugins
set -g @tpm_plugins '			\
	{% for item in tmux_plugins %}
    {{ item }} \
    {% endfor %}
	'

# Other examples:
# set -g @plugin 'github_username/plugin_name'
# set -g @plugin 'git@github.com/user/plugin'
# set -g @plugin 'git@bitbucket.com/user/plugin'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run -b '~/.config/tmux/plugins/tpm/tpm'
