" {{ ansible_managed }}

" =============================================================================
" list of plug-ins to install
" tells where to store plugins 
" find cool plug-ins at https://vimawesome.com/
call plug#begin('~/.local/share/nvim/plugged')

  " ---------------------------------------------------------------------------
  " ability to surround text with characters 
  Plug 'tpope/vim-surround'

  " ---------------------------------------------------------------------------
  " syntax highlighting under one hat for many languages 
  Plug 'sheerun/vim-polyglot'

  " ---------------------------------------------------------------------------
  " one dark color sheme and configuration of it
  " Plug 'joshdick/onedark.vim'

  " ---------------------------------------------------------------------------
  " one dark color sheme and configuration of it
  Plug 'arcticicestudio/nord-vim'

  " ---------------------------------------------------------------------------
  " airline status line and theme support
  Plug 'vim-airline/vim-airline'
  Plug 'vim-airline/vim-airline-themes'
  " to test a theme before installing use :AirlineTheme <name>
  " let g:airline_theme='dark theme with powerline symbols'

  " ---------------------------------------------------------------------------
  " surround - to change surroundings
  " usage: 
  "  - change surrounding with cs<to-change><change-to>
  "  - add surrounding with ysiw<what-to-add>
  Plug 'tpope/vim-surround'

call plug#end()


" =============================================================================
" configure plug-ins
" -----------------------------------------------------------------------------
" configure onedark color theme 
" if (has("nvim"))
"   let $NVIM_TUI_ENABLE_TRUE_COLOR=1
" endif
" if (has("termguicolors"))
"   set termguicolors
" endif
" " onedark.vim override: set a custom background color in the terminal
" if (has("autocmd") && !has("gui_running"))
"   augroup colors
"     autocmd!
"     let s:background = { "gui": "##2E3440", "cterm": "235", "cterm16": "0" }
"     let s:comment_grey = { "gui": "##bf616a", "cterm": "235", "cterm16": "0" }
"     " autocmd ColorScheme * call onedark#set_highlight("Normal", { "bg": s:background })
"     " autocmd ColorScheme * call onedark#set_highlight("Comment", { "fg": s:comment_grey }) 
"   augroup END
" endif
" let g:onedark_hide_endofbuffer=1  " hiding end-of-buffer filler lines; def. 0
" let g:onedark_terminal_italics=1  " to use italics when possible
" let g:onedark_termcolors=256      " explicitly use 256 colors 
" " activate onedark theme - all options should be set before!
" syntax on
" colorscheme onedark

" -------------------------------------------------------------------------------
" configure nord color theme 
colorscheme nord

" -------------------------------------------------------------------------------
" configure airline status line 
" let g:airline_theme='onedark'
let g:airline_theme='nord'
let g:airline_powerline_fonts=1

" -------------------------------------------------------------------------------
" general config 
set number  " show line numbers 
" copy and paste to/from system clipboard
set clipboard=unnamedplus
" automatically rebalance windows on vim resize
autocmd VimResized * :wincmd =
